@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
    }
    }

    //!!...........ПЕРЕМЕННЫЕ.....................!!\\
    
    $mainColor: #9A9DA0;
    $secondColor: #E8E9EA;
    $mainFontSize: 14px;
    $secondFontSize: 24px;
    $mainFF: "Poppins";
    $secondFF: "Roboto";
    $bg: #1E252B;
    $bg2: #FF6E30;

    //!...........................................!!\\
@import "_reset";
@import "_fonts";
@import "_header";
@import "_main";
@import "_footer";

body{
    font-family: $mainFF;
    font-weight: 500;
    font-size: $mainFontSize;
}

body.lock{
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-width: 0;
}
.container {
    max-width: 1254px;
    padding: 0 15px;
    margin: 0 auto;

}
.main {
    flex: 1 1 auto;

}
